[ping4]
dashboard = "base-metrics"
panelId = "1"
height = "280"
width = "640"

[ping6]
dashboard = "base-metrics"
panelId = "2"
height = "280"
width = "640"

[hostalive]
dashboard = "base-metrics"
panelId = "3"
height = "280"
width = "640"

[disk]
dashboard = "base-metrics"
panelId = "4"
height = "280"
width = "640"

[load]
dashboard = "base-metrics"
panelId = "5"
height = "280"
width = "640"

[swap]
dashboard = "base-metrics"
panelId = "6"
height = "280"
width = "640"

[procs]
dashboard = "base-metrics"
panelId = "7"
height = "280"
width = "640"

[users]
dashboard = "base-metrics"
panelId = "8"
height = "280"
width = "640"
